<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div id="studentAddForm">
        <div id="window">
            <form>
                <label>First Name:</label>
                <input type="text" [(ngModel)]="addedStudent.firstName" name="firstName" required>
                <label>Last Name:</label>
                <input type="text" [(ngModel)]="addedStudent.lastName" name="lastName" required>
                <label>Email:</label>
                <input type="email" [(ngModel)]="addedStudent.email" name="email" required>
                <label>Gender:</label>
                <input type="radio" value="male" name="gender" id="male" [(ngModel)]="addedStudent.gender" required>Male
                <input type="radio" value="female" name="gender" id="female" [(ngModel)]="addedStudent.gender"
                    required>Female
                <br><br>
                <a (click)="confirmAddStudent()" class="addStudent-btn" href="/students/#">Add</a>
            </form>
            <br>
            <a href="/students/#" class="close">X</a>
        </div>
    </div>

    <div id="studentEditForm">
        <div id="window">
            <form>
                <label>First Name:</label>
                <input type="text" [(ngModel)]="editeStudent.firstName" name="firstName">
                <label>Last Name:</label>
                <input type="text" [(ngModel)]="editeStudent.lastName" name="lastName">
                <label>Email:</label>
                <input type="email" [(ngModel)]="editeStudent.email" name="email">
                <label>Gender:</label>
                <input type="radio" value="male" name="gender" id="male" [(ngModel)]="editeStudent.gender">Male
                <input type="radio" value="female" name="gender" id="female" [(ngModel)]="editeStudent.gender">Female
                <br><br>
                <a (click)="confirmEditStudent()" href="/students/#" class="addStudent-btn">Save</a>
            </form>
            <br>
            <a href="/students/#" class="close" (click)="getStudents()">X</a>
        </div>
    </div>

    <div id="displayMarks">
        <div id="window">
            <div class="scroll-table">
                <table class="table_adaptive_mark">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Marks</th>
                            <th>Average</th>
                        </tr>
                    </thead>
                </table>
                <div class="scroll-table-body">
                    <table>
                        <tbody>
                            <tr *ngFor="let discipline of marksStudent.disciplines">
                                <td>{{discipline.name}}</td>
                                <td>
                                    <ul *ngFor="let mark of discipline.marks" id="listMarks">
                                        <li>{{mark.mark}},</li>
                                    </ul>
                                </td>
                                <td>
                                    <ng-container *ngIf="discipline.avg === 0; else avgValue">{{'N/A'}}</ng-container>
                                    <ng-template #avgValue>{{discipline.avg}}</ng-template>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <a href="/students/#" class="close">X</a>
        </div>
    </div>

    <div class="container">
        <div class="button-bar">
            <a href="/students#studentAddForm" class="addStudent-btn">Add Student</a>
            <button class="deleteStudents-btn" (click)="confirmDelete()">Delete all students</button>
        </div>
        <table class="table_adaptive">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of students | paginate: { itemsPerPage: 9, currentPage: page.toString() }">
                    <td>{{student.firstName}}</td>
                    <td>{{student.lastName}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.gender}}</td>
                    <td class="action-row">
                        <a class="btn-edit" href="/students#studentEditForm" (click)="editedStudent(student)">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a class="delete-button" (click)="confirmDeleteStudent(student)">
                            <i class="fa fa-trash"></i>
                        </a>
                        <a class="search-button" href="/students#displayMarks" (click)="getDisciplinesWithMarksById(student.id)">
                            <i class="fa fa-search"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination-wrapper">
        <pagination-controls class="pagination-controls" (pageChange)="page = $event"></pagination-controls>
    </div>
</body>