<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div id="disciplineEditForm">
        <div id="window">
            <form>
                <label>Name:</label>
                <input type="text" [(ngModel)]="editeDiscipline.name" name="name">
                <a (click)="editDiscipline()" href="/disciplines" class="addDiscipline-btn">Save</a>
            </form>
            <br>
            <a href="/disciplines" class="close">X</a>
        </div>
    </div>

    <div id="disciplineAddForm">
        <div id="window">
            <form>
                <label>Name:</label>
                <input type="text" [(ngModel)]="addedDiscipline.name" name="name">
                <a (click)="add()" href="/disciplines" class="addDiscipline-btn">Add</a>
            </form>
            <br>
            <a href="/disciplines" class="close">X</a>
        </div>
    </div>

    <div id="disciplineMapForm">
        <div id="windowMap">
            <form>
                <label for="students">Choose a student:</label>
                <select id="students" name="students" [(ngModel)]="studentIdToMap"
                    (change)="getDisciplinesForStudent(studentIdToMap)">
                    <option value="" disabled selected>Select a student</option>
                    <option value="{{student.id}}" *ngFor="let student of students">{{student.firstName}}
                        {{student.lastName}}
                    </option>
                </select>

                <label for="discipline">Choose a discipline:</label>
                <select id="discipline" name="discipline" [(ngModel)]="disciplineIdToMap">
                    <option value="" disabled selected>Select a discipline</option>
                    <option value="{{discipline.id}}" *ngFor="let discipline of getAvailableDisciplines()">
                        {{discipline.name}}
                    </option>
                </select>

                <br><br>
                <a href="/disciplines" class="mapDiscipline-btn" (click)="confirmMap()">Map</a>
            </form>
            <br>
            <a href="/disciplines" class="close">X</a>
        </div>
    </div>

    <div class="container">
        <div class="button-bar">
            <a class="addDiscipline-btn" href="/disciplines/#disciplineAddForm" (click)="confirmAddDiscipline()">Add
                discipline</a>
            <button class="deleteDisciplines-btn" (click)="confirmDeleteAllDisciplines()">Delete all
                disciplines</button>
            <a class="mapDiscipline-btn" href="/disciplines/#disciplineMapForm" (click)="confirmMapDiscipline()">Map
                discipline</a>
        </div>
        <table class="table_adaptive">
            <thead>
                <tr>
                    <th>Disciplines</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let discipline of disciplines | paginate: { itemsPerPage: 5, currentPage: p.toString() }">
                    <td>{{discipline.name}}</td>
                    <td class="action-row">
                        <a class="btn-edit" href="/disciplines#disciplineEditForm" (click)="confirmEdit(discipline)">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a class="delete-button" (click)="confirmDelete(discipline.id)">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination-wrapper">
        <pagination-controls class=" pagination-controls" (pageChange)="p = $event"></pagination-controls>
    </div>

</body>