<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div id="disciplineEditForm">
        <div id="window">
            <form>
                <label>Name:</label>
                <input type="text" [(ngModel)]="editeDiscipline.name" name="name">
                <button (click)="editDiscipline()">Save</button>
            </form>
            <br>
            <a href="/disciplines/#" class="close">X</a>
        </div>
    </div>

    <div class="container">
        <div class="button-bar">
            <a class="addDiscipline-btn">Add discipline</a>
            <button class="deleteDisciplines-btn">Delete all disciplines</button>
        </div>
        <table class="table_adaptive">
            <thead>
                <tr>
                    <th>Disciplines</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let discipline of disciplines">
                    <td>{{discipline.name}}</td>
                    <td class="action-row">
                        <a class="btn-edit" href="/disciplines#disciplineEditForm"
                            (click)="editedDiscipline(discipline)">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a class="delete-button" (click)="deleteDisciplineById(discipline.id)">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>