<table id="studentTable" border="1px solid">
    <tr>
        <th>id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>English Language</th>
        <th>Mathematics</th>
        <th>Designing Web Pages</th>
        <th>Graphic Editors</th>
        <th>Generic Applications</th>
        <th>Basics Of Programming</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Ghenadie</td>
        <td>Babiuc</td>
        <td>7</td>
        <td>7</td>
        <td>7</td>
        <td>7</td>
        <td>7</td>
        <td>7</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Ilon</td>
        <td>Musk</td>
        <td>9</td>
        <td>9</td>
        <td>8</td>
        <td>8</td>
        <td>9</td>
        <td>9</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Steve</td>
        <td>Jobs</td>
        <td>9</td>
        <td>9</td>
        <td>8</td>
        <td>10</td>
        <td>8</td>
        <td>7</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Mark</td>
        <td>Zuckerberg</td>
        <td>9</td>
        <td>9</td>
        <td>8</td>
        <td>8</td>
        <td>9</td>
        <td>9</td>
    </tr>
</table>