table.table_adaptive,
table.table_adaptive_mark {
    display: table;
    width: 1000px;
    table-layout: fixed !important;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0 !important;
    margin-bottom: 30px;
    line-height: 24px;
    margin-top: 10px;
}

table.table_adaptive_mark {
    width: 400px !important;
}

table.table_adaptive caption,
table.table_adaptive_mark caption {
    caption-side: top;
    color: #5f5f5f;
    text-align: center;
    font-weight: bold;
}

table.table_adaptive tr,
table.table_adaptive_mark tr {
    padding: 5px;
}

table.table_adaptive tr:hover,
table.table_adaptive_mark:hover {
    background: #71c2c2;
    color: #fff;
}

table.table_adaptive tr:hover a,
table.table_adaptive_mark tr:hover a {
    color: #fff;
    border-bottom: 1px dashed #fff;
}

table.table_adaptive th,
table.table_adaptive_mark th,
table.table_adaptive td,
table.table_adaptive_mark td {
    padding: 10px;
    text-align: center;
}

table.table_adaptive th,
table.table_adaptive_mark th {
    font-size: 14px;
    letter-spacing: 1px;
    color: whitesmoke;
    background-color: #19a5a5;
    font-weight: bold;
    border: 0px !important;
}

table.table_adaptive td,
table.table_adaptive_mark td {
    border-bottom: 1px solid #ededed !important;
    border-top: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
    font-size: 14px;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

table.table_adaptive td:first-child,
table.table_adaptive_mark td:first-child {
    text-align: left;
}

table.table_adaptive td.justify_text,
table.table_adaptive_mark td.justify_text {
    text-align: justify;
}

table.table_adaptive td.left_text,
table.table_adaptive_mark td.left_text {
    text-align: left;
}

table.table_adaptive td.right_text,
table.table_adaptive_mark td.right_text {
    text-align: right;
}

table.table_adaptive tr.subhead,
table.table_adaptive_mark tr.subhead {
    background: #f1f7f7;
    font-weight: bold;
}

table.table_adaptive tr.subhead:hover,
table.table_adaptive_mark tr.subhead:hover {
    background: #24c5c5;
    color: #fff;
}

.btn-edit i {
    color: blue;
}

.delete-button i {
    color: red;
}

.search-button i {
    color: green;
}

.btn-edit,
.delete-button,
.search-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.btn-edit:hover i,
.delete-button:hover i,
.search-button:hover i {
    color: #000;
}

.btn-edit i,
.delete-button i,
.search-button i {
    font-size: 24px;
    line-height: 40px;
}

#studentAddForm,
#studentEditForm,
#displayMarks {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#window {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#studentAddForm:target,
#studentEditForm:target,
#displayMarks:target {
    display: block;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

form button {
    background-color: #19a5a5;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ff0000;
    text-decoration: none;
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.addStudent-btn {
    background-color: #19a5a5;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.deleteStudents-btn {
    background-color: #a51919;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.button-bar {
    display: flex;
    gap: 10px;
}

#listMarks {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    padding: 0;
}