@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");

body {
    background: linear-gradient(to right, #d36969, #4e8671);
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
}

table {
    width: 100%;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font: 14px/1 'Open Sans', sans-serif;
    color: #555;
    background: #eee;
}

h1 {
    padding: 50px 0;
    font-weight: 400;
    text-align: center;
}

p {
    margin: 0 0 20px;
    line-height: 1.5;
}

main {
    max-width: 1000px;
    padding: 50px;
    margin: 0 auto;
    background: #fff;
}

section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}

input {
    display: none;
}

label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

label[for*='1']:before {
    content: '\f0c0';
}

label[for*='2']:before {
    content: '\f02d';
}

label[for*='3']:before {
    content: '\f0c9';
}

label:hover {
    color: #888;
    cursor: pointer;
}

input:checked+label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid orange;
    border-bottom: 1px solid #fff;
}

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3 {
    display: block;
}

@media screen and (max-width: 650px) {
    label {
        font-size: 0;
    }

    label:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    label {
        padding: 15px;
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.table-name th {
    background-color: #91b5e4;
    height: 30px;
}

.table-header th {
    background-color: rgba(128, 128, 128, 0.432);
    height: 40px;
}

.edit-btn,
.delete-btn,
.open-btn,
.add-student-btn,
.delete-all-btn,
.add-discipline-btn,
.delete-all-discipline-btn {
    border: none;
    cursor: pointer;
    background: transparent;
    font-size: 24px;
    color: #333;
    margin: 0 10px;
    height: 30px;
    width: 30px;
    height: inherit;
}

.edit-btn:hover,
.delete-btn:hover,
.open-btn:hover,
.add-student-btn:hover,
.delete-all-btn:hover,
.add-discipline-btn:hover,
.delete-all-discipline-btn:hover {
    color: #666;
}

.action-row {
    width: 150px;
    height: 40px;
}

.action-row2 {
    width: 100px;
    height: 40px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#btn-add-marks {
    background-color: #83e286;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;

}

#btn-add-marks:hover {
    background-color: #4CAF50;
}