<h1>Student Managment System</h1>

<main>

    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1">Student</label>

    <input id="tab2" type="radio" name="tabs">
    <label for="tab2">Discipline</label>

    <input id="tab3" type="radio" name="tabs">
    <label for="tab3">Marks</label>


    <section id="content1">
        <table>
            <tr>
                <th colspan="6">Student</th>
            </tr>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Date of birth</th>
                <th>Action</th>
            </tr>
            <tr *ngFor="let student of students">
                <td>{{student.firstName}}</td>
                <td>{{student.lastName}}</td>
                <td>{{student.email}}</td>
                <td>{{student.gender}}</td>
                <td>{{student.dateOfBirth}}</td>
                <td> </td>
            </tr>
        </table>
    </section>

    <section id="content2">
        <table>
            <tr>
                <th colspan="2">Discipline</th>
            </tr>
            <tr>
                <th>Name</th>
                <th>Action</th>
            </tr>
            <tr *ngFor="let discipline of disciplines">
                <td>{{discipline.name}}</td>
                <td> </td>
            </tr>
        </table>
    </section>

    <section id="content3">
        <form>
            <label for="students">Choose a student:</label>
            <select id="students" name="students">
                <option *ngFor="let student of students" value="{{student.firstName}}">{{student.firstName}}
                    {{student.lastName}}</option>
            </select>
            <br><br>
            <label for="disciplines">Choose a discipline:</label>
            <select id="disciplines" name="disciplines">
                <option *ngFor="let discipline of disciplines" value="{{discipline.name}}">{{discipline.name}}</option>
            </select>
            <br><br>
            <label for="marks">Choose a mark:</label>
            <select id="marks" name="marks">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <br><br>
            <input type="submit" value="Submit">
        </form>

    </section>

</main>